:root {
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --Pink: hsl(322, 100%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--Very-Dark-Cyan);
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 4%;
}

.getStartedBtn {
    display: inline-block;
    background-color: var(--Pink);
    color: var(--Very-Pale-Cyan);
    padding: 1.5em 7.5em;
    border-radius: 35px;
    box-shadow: 0 0 10px hsl(322, 100%, 66%, .5);
    font-weight: bold;
    transition: all 0.2s linear;
}

.getStartedBtn:hover, .getStartedBtn:active,
.header__top--link:hover, .header__top--link:active {
    opacity: .5;
}

.header {
    background-color: #EDFBFE;
    background-image: url('../images/bg-hero-desktop.svg');
}

.header .container {
    padding: 2.5rem 4% 6rem;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
}

.header__top--link {
    background-color: #fff;
    color: var(--Very-Dark-Cyan);
    padding: 1em 4.25em;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    font-size: 0.938em;
    font-weight: bold;
    transition: all 0.2s linear;
}

.header__top--logo {
    display: block;
    object-fit: contain;
    max-width: 12em;
}

.header__content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.header__content--item img {
    width: 100%;
    object-fit: contain;
}

.header__content .header__content--item:first-child {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 0 25% 0 0;
}

.header__content--item h1 {
    font-size: 2.2em;
}

.header__content--item p {
    font-size: 1.125em;
    margin: 10% 0 7%;
    color: var(--Very-Dark-Cyan);
}

.header__content .getStartedBtn {
    font-size: 0.875em;
    padding: 1.29em 4.9em;
    align-self: flex-start;
}

.main {
    position: relative;
}

.main .container {
    padding: 11% 4% 22.5em;
}

.main__article {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 3.45em 4.19em;
    border-radius: 15px;
    background-color: #fff;
}

.main__article-item {
    flex-basis: 60%;
}

.main__article-item:last-child {
    flex-basis: 40%;
    height: 21.875em;
}

.main__article-item h3 {
    margin-bottom: 1em;
    font-size: 1.875em;
    color: var(--Very-Dark-Cyan);
    max-width: 50rem;
    width: 100%;
}

.main__article-item p {
    color: var(--Grayish-Blue);
    font-weight: lighter;
    font-size: 1.125em;
    max-width: 50rem;
}

.main__article-item:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1em;
}

.main__article:nth-child(even) .main__article-item:first-child {
    order: 1;
    align-items: flex-end;
    padding-right: 0em;
    padding-left: 1em;
}

.main__article:nth-child(even) .main__article-item:last-child {
    order: 0;
}

.main__article + .main__article {
    margin-top: 2.375em;
}

.main__article-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.getStartedContainer {
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 15px;
    padding: 3.45em 0;
    width: 48em;
    max-width: calc(100% - 8%);
    background-color: #fff;
    text-align: center;
    bottom: -4%;
    left: 50%;
    transform: translate(-50%);
}

.getStartedContainer h2 {
    margin-bottom: 1em;
    font-size: 2em;
}

footer {
    background-color: var(--Very-Dark-Cyan);
    color: #fff;
}

.footer {
    padding-top: 18.8rem;
    padding-bottom: 6.6rem;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5.94em 6.25em;
}

.footer__grid ul {
    list-style: none;
}

.footer__grid p {
    grid-column: -2 / -1;
    font-size: 1.2rem;
}

.footer__logo {
    margin-bottom: 5rem;
}

.footer__grid li a {
    color: #fff;
}

.footer__grid--list li + li {
    margin-top: 1.2em;
}

.footer__grid--list li a:hover {
    text-decoration: underline;
}

.address li {
    display: flex;
    align-items: flex-start;
}

.address li img {
    display: block;
    margin-right: 1.5em;
}

.footer__grid--social-media {
    display: flex;
}

.footer__grid--social-media li + li{
    margin-left: 1em;
}
.footer__grid--social-media li a {
    display: block;
    font-size: 2rem;
    border: 1px solid #fff;
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.footer__grid--social-media i {
    font-size: 2rem;
}

.footer__grid--social-media a:hover {
    border-color: var(--Pink);
    color: var(--Pink);
}

@media screen and (max-width: 992px) {
    body {
        font-size: 1.4rem;
    }

    .header__top--link {
        padding: .8 1em;
        padding-top: .8em;
        padding-bottom: 0.8em;
    }

    .header__content {
        grid-template-columns: 100%;
        text-align: center;
        padding: 0 4%;
        row-gap: 3em;
    }

    .header__content .header__content--item:first-child {
        padding-right: 0;
    }

    .header__content .getStartedBtn {
        align-self: center;
    }

    .main__article {
        display: flex;
        flex-direction: column;
        text-align: center;
    } 

    .main__article-item {
        flex-basis: 100%;
    }

    .main__article-item:first-child {
        padding-right: 0em;
    }

    .main__article .main__article-item:first-child {
        order: 1;
        align-items: none;
        padding-left: 0;
    }

    .main__article:nth-child(even) .main__article-item:first-child {
        padding-left: 0;
    }
    
    .main__article .main__article-item:last-child {
        order: 0;
        margin-bottom: 4em;
    }

    .main__article-item p {
        max-width: none;
    }
    
    .main__article-item h3 {
        max-width: none;
    }

    .footer__grid--social-media {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .footer__grid {
        display: block;
    }

    .footer ul + ul {
        margin-top: 3em;
    }

    .footer p {
        margin-top: 3em;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    body {
        font-size: 1.2rem;
    }

    .header {
        background-image: url('../images/bg-hero-mobile.svg');
    }

    .getStartedContainer h2 {
        font-size: 1.5em;
    }

    .getStartedContainer .getStartedBtn {
        font-size: 0.875em;
        padding: 1.29em 4.9em;
        align-self: flex-start;
    }
}